$main-color: rgb(60, 116, 219);
$black: rgb(27, 26, 26);
$white: rgb(255, 255, 255);
$grey: rgb(195, 195, 195);
$space: 0.1rem;
$radius: 0.25rem;
$ease-trans: all 0.4s ease;

%grid-center {
    display: grid;
    place-items: center;
}

%flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}