@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import 'config';
@import 'preloader';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
    @extend %grid-center;
    background-color: var(--main-color);
    color: $black;
    line-height: 1;
    transition: $ease-trans;
    transition-property: background-color;
}

button {
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
}

.icon-btn {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    background-color: inherit;
    color: var(--main-color);
    transition: $ease-trans;
    &:hover {
        background-color: var(--main-color);
        color: $white;
    }
    &.active {
        background-color: var(--main-color);
        color: $white;
        pointer-events: none;
    }
}

.wrapper {
    max-width: 500px;
    width: 90vw;
    padding: 1rem;
    border-radius: $radius-2;
    background-color: $white;
    header {
        margin-bottom: 1rem;
        text-align: center;
        form {
            margin-bottom: 1.25rem;
            text-align: right;
        }
        h2 {
            text-transform: capitalize;
            letter-spacing: $space;
        }
    }
    main {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        line-height: 1.5;
    }
    footer {
        @extend %flex-between;
        padding-top: 1rem;
        border-top: 1px solid $grey;
        &.disabled {
            opacity: 0.8;
            pointer-events: none;
        }
        & > div:first-child {
            display: flex;
            column-gap: 0.5rem;
            @include for-size(extra-small) {
                column-gap: 0.25rem;
            }
        }
    }
}

.quote {
    margin-bottom: 0.5rem;
    text-align: center;
    i {
        margin-right: 0.25rem;
        color: var(--main-color);
        transition: $ease-trans;
    }
}

.quote-author {
    color: darken($grey, 20%);
    text-align: right;
    font-style: italic;
    text-transform: capitalize;
}

#tags-list {
    height: 2rem;
    padding: 0 0.25rem;
    border: 1px solid $grey;
    border-radius: $radius;
    background-color: $white;
    color: $black;
    font-size: 1rem;
    text-transform: capitalize;
    &:focus {
        outline: none;
        padding: 0 calc(0.25rem - 1px);
        border: 2px solid var(--main-color);
    }
}

#generate-quote-btn {
    height: 2rem;
    padding: 0 0.5rem;
    border: none;
    border-radius: $radius;
    background-color: var(--main-color);
    color: $white;
    text-transform: capitalize;
    transition:$ease-trans;
}